<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866892099029-0ga67e28vnsfa3beflc7a7l05691s4qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866892099029-0ga67e28vnsfa3beflc7a7l05691s4qd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866892099029-889hg3npmabs66f0lu34iu35tfler7tn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCG0DLPW-2ZFp1yk43aXpoP4tb-Qpkvn-g</string>
	<key>GCM_SENDER_ID</key>
	<string>866892099029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guidGen</string>
	<key>PROJECT_ID</key>
	<string>qr-generator-d11f1</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-generator-d11f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:866892099029:ios:027e67d91d48a27190a15c</string>
	<key>DATABASE_URL</key>
	<string>https://qr-generator-d11f1.firebaseio.com</string>
</dict>
</plist>
