<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866892099029-ijr7680kvk6ti8jt1qjggbta379r72lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866892099029-ijr7680kvk6ti8jt1qjggbta379r72lo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866892099029-bshovhvi3i8fa2hn373m7tn1s3q7nqum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ8dhx2Kg35IA0_e2L_t6ad8_5vhmfG40</string>
	<key>GCM_SENDER_ID</key>
	<string>866892099029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intelectsoft.discount</string>
	<key>PROJECT_ID</key>
	<string>qr-generator-d11f1</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-generator-d11f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866892099029:ios:488ca4ca7cc90e8290a15c</string>
	<key>DATABASE_URL</key>
	<string>https://qr-generator-d11f1.firebaseio.com</string>
</dict>
</plist>